.nav-img {
  width: 50px;
}

.movie-list {
  margin: 50px;
}

.movie-card {
  min-width: 300px !important;
  height: auto;
}

.img-nav {
  height: 750px;
}

.button-part {
  display: flex;
  justify-content: center;
}

.page-button {
  margin-right: 5px;
  margin-bottom: 20px;
}
